In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
%matplotlib inline
import numpy as np

In [3]:
cleaned_data_with_outliers = pd.read_csv('cleaned_data_with_outliers.csv')

In [5]:
cleaned_data_with_outliers.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
cleaned_data_with_outliers.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Ent,Ext,day_of_week,month
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,07:00:00,REGULAR,6527794,2210507,14.0,11.0,Saturday,2
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,11:00:00,REGULAR,6527838,2210585,44.0,78.0,Saturday,2
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,15:00:00,REGULAR,6527994,2210644,156.0,59.0,Saturday,2
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,19:00:00,REGULAR,6528278,2210705,284.0,61.0,Saturday,2
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,23:00:00,REGULAR,6528389,2210728,111.0,23.0,Saturday,2